= f.inputs I18n.t("active_admin.tags.#{tag_type.code.pluralize}")
  = f.collection_check_boxes(:tag_ids, Tag.where(tag_type: tag_type).with_translations, :id, :localized_name) do |b|
    = b.label { b.check_box + ' ' + b.text }
