/*Footer section Starts*/
footer {
    background: #171B24;
  }
  footer > section{
      width: 1170px;
      padding: 50px 0;
      position: relative;
      display: grid;
      margin: auto;
  }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footerLogo {
      float: left;
  }
  .footerLogo img {
      width: 160px;
  }
  .footer-links {
        padding-left: 0;
        text-align: left;
        margin: 0;
        width: 50%;
        float: right;
  }
  .footer-links > li {
        list-style: none;
        display: inline-block;
        text-align: left;
        width: 50%;
        float: left;
  }
  .footer-links li ul li{
      display: block;
      margin-bottom: 5px;
      line-height: 40px;
  }
  .footer-links li ul li:last-child {
      margin-bottom: 0;;
  }
  .footer-links li ul li a {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      font-family: "Montserrat";
      font-weight: 400;
  }
  footer p {
      font-size: 16px !important;
      color: #fff !important;
      margin: 50px 0 0 !important;
      font-family: "Montserrat" !important;
      font-weight: 400;
      text-align: left !important;
  }

  @media (max-width:1250px) {
      footer > section {
          width: auto;
          padding: 50px;
      }
      footer ul{
        margin: 0;
      }
      .footer-links {
          margin: 0;
      }
      .footer-links li ul li {
        margin: 0 0 20px;
      }
   }

   @media (max-width: 768px) {
        .footerLogo {
            float: none;
            clear: both;
            text-align: center;
            margin: 20px 0;
        }
        footer > section { 
            padding: 30px 0;
        }
        .footer-links {
            width: auto;
            float: none;
            margin: auto;
        }
        .footer-links > li {
            text-align: center;
        }
        footer p {
            text-align: center;
            font-size: 12px;
        }
   }

   @media (max-width: 500px) {
        .footer-links li ul li {
            display: block;
            margin-bottom: 10px;
        }
        .footer-links li ul li a {
            font-size: 12px;
        }
   }
  /*Footer section Ends*/
