.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.breads-xs-1, .breads-sm-1, .breads-md-1, .breads-lg-1, .breads-xs-2, .breads-sm-2, .breads-md-2, .breads-lg-2, .breads-xs-3, .breads-sm-3, .breads-md-3, .breads-lg-3, .breads-xs-4, .breads-sm-4, .breads-md-4, .breads-lg-4, .breads-xs-5, .breads-sm-5, .breads-md-5, .breads-lg-5, .breads-xs-6, .breads-sm-6, .breads-md-6, .breads-lg-6, .breads-xs-7, .breads-sm-7, .breads-md-7, .breads-lg-7, .breads-xs-8, .breads-sm-8, .breads-md-8, .breads-lg-8, .breads-xs-9, .breads-sm-9, .breads-md-9, .breads-lg-9, .breads-xs-10, .breads-sm-10, .breads-md-10, .breads-lg-10, .breads-xs-11, .breads-sm-11, .breads-md-11, .breads-lg-11, .breads-xs-12, .breads-sm-12, .breads-md-12, .breads-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.breads-xs-1, .breads-xs-2, .breads-xs-3, .breads-xs-4, .breads-xs-5, .breads-xs-6, .breads-xs-7, .breads-xs-8, .breads-xs-9, .breads-xs-10, .breads-xs-11, .breads-xs-12 {
  float: left;
}
.breads-xs-12 {
  width: 100%;
}
.breads-xs-11 {
  width: 91.66666667%;
}
.breads-xs-10 {
  width: 83.33333333%;
}
.breads-xs-9 {
  width: 75%;
}
.breads-xs-8 {
  width: 66.66666667%;
}
.breads-xs-7 {
  width: 58.33333333%;
}
.breads-xs-6 {
  width: 50%;
}
.breads-xs-5 {
  width: 41.66666667%;
}
.breads-xs-4 {
  width: 33.33333333%;
}
.breads-xs-3 {
  width: 25%;
}
.breads-xs-2 {
  width: 16.66666667%;
}
.breads-xs-1 {
  width: 8.33333333%;
}
.breads-xs-pull-12 {
  right: 100%;
}
.breads-xs-pull-11 {
  right: 91.66666667%;
}
.breads-xs-pull-10 {
  right: 83.33333333%;
}
.breads-xs-pull-9 {
  right: 75%;
}
.breads-xs-pull-8 {
  right: 66.66666667%;
}
.breads-xs-pull-7 {
  right: 58.33333333%;
}
.breads-xs-pull-6 {
  right: 50%;
}
.breads-xs-pull-5 {
  right: 41.66666667%;
}
.breads-xs-pull-4 {
  right: 33.33333333%;
}
.breads-xs-pull-3 {
  right: 25%;
}
.breads-xs-pull-2 {
  right: 16.66666667%;
}
.breads-xs-pull-1 {
  right: 8.33333333%;
}
.breads-xs-pull-0 {
  right: auto;
}
.breads-xs-push-12 {
  left: 100%;
}
.breads-xs-push-11 {
  left: 91.66666667%;
}
.breads-xs-push-10 {
  left: 83.33333333%;
}
.breads-xs-push-9 {
  left: 75%;
}
.breads-xs-push-8 {
  left: 66.66666667%;
}
.breads-xs-push-7 {
  left: 58.33333333%;
}
.breads-xs-push-6 {
  left: 50%;
}
.breads-xs-push-5 {
  left: 41.66666667%;
}
.breads-xs-push-4 {
  left: 33.33333333%;
}
.breads-xs-push-3 {
  left: 25%;
}
.breads-xs-push-2 {
  left: 16.66666667%;
}
.breads-xs-push-1 {
  left: 8.33333333%;
}
.breads-xs-push-0 {
  left: auto;
}
.breads-xs-offset-12 {
  margin-left: 100%;
}
.breads-xs-offset-11 {
  margin-left: 91.66666667%;
}
.breads-xs-offset-10 {
  margin-left: 83.33333333%;
}
.breads-xs-offset-9 {
  margin-left: 75%;
}
.breads-xs-offset-8 {
  margin-left: 66.66666667%;
}
.breads-xs-offset-7 {
  margin-left: 58.33333333%;
}
.breads-xs-offset-6 {
  margin-left: 50%;
}
.breads-xs-offset-5 {
  margin-left: 41.66666667%;
}
.breads-xs-offset-4 {
  margin-left: 33.33333333%;
}
.breads-xs-offset-3 {
  margin-left: 25%;
}
.breads-xs-offset-2 {
  margin-left: 16.66666667%;
}
.breads-xs-offset-1 {
  margin-left: 8.33333333%;
}
.breads-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .breads-sm-1, .breads-sm-2, .breads-sm-3, .breads-sm-4, .breads-sm-5, .breads-sm-6, .breads-sm-7, .breads-sm-8, .breads-sm-9, .breads-sm-10, .breads-sm-11, .breads-sm-12 {
    float: left;
  }
  .breads-sm-12 {
    width: 100%;
  }
  .breads-sm-11 {
    width: 91.66666667%;
  }
  .breads-sm-10 {
    width: 83.33333333%;
  }
  .breads-sm-9 {
    width: 75%;
  }
  .breads-sm-8 {
    width: 66.66666667%;
  }
  .breads-sm-7 {
    width: 58.33333333%;
  }
  .breads-sm-6 {
    width: 50%;
  }
  .breads-sm-5 {
    width: 41.66666667%;
  }
  .breads-sm-4 {
    width: 33.33333333%;
  }
  .breads-sm-3 {
    width: 25%;
  }
  .breads-sm-2 {
    width: 16.66666667%;
  }
  .breads-sm-1 {
    width: 8.33333333%;
  }
  .breads-sm-pull-12 {
    right: 100%;
  }
  .breads-sm-pull-11 {
    right: 91.66666667%;
  }
  .breads-sm-pull-10 {
    right: 83.33333333%;
  }
  .breads-sm-pull-9 {
    right: 75%;
  }
  .breads-sm-pull-8 {
    right: 66.66666667%;
  }
  .breads-sm-pull-7 {
    right: 58.33333333%;
  }
  .breads-sm-pull-6 {
    right: 50%;
  }
  .breads-sm-pull-5 {
    right: 41.66666667%;
  }
  .breads-sm-pull-4 {
    right: 33.33333333%;
  }
  .breads-sm-pull-3 {
    right: 25%;
  }
  .breads-sm-pull-2 {
    right: 16.66666667%;
  }
  .breads-sm-pull-1 {
    right: 8.33333333%;
  }
  .breads-sm-pull-0 {
    right: auto;
  }
  .breads-sm-push-12 {
    left: 100%;
  }
  .breads-sm-push-11 {
    left: 91.66666667%;
  }
  .breads-sm-push-10 {
    left: 83.33333333%;
  }
  .breads-sm-push-9 {
    left: 75%;
  }
  .breads-sm-push-8 {
    left: 66.66666667%;
  }
  .breads-sm-push-7 {
    left: 58.33333333%;
  }
  .breads-sm-push-6 {
    left: 50%;
  }
  .breads-sm-push-5 {
    left: 41.66666667%;
  }
  .breads-sm-push-4 {
    left: 33.33333333%;
  }
  .breads-sm-push-3 {
    left: 25%;
  }
  .breads-sm-push-2 {
    left: 16.66666667%;
  }
  .breads-sm-push-1 {
    left: 8.33333333%;
  }
  .breads-sm-push-0 {
    left: auto;
  }
  .breads-sm-offset-12 {
    margin-left: 100%;
  }
  .breads-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .breads-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .breads-sm-offset-9 {
    margin-left: 75%;
  }
  .breads-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .breads-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .breads-sm-offset-6 {
    margin-left: 50%;
  }
  .breads-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .breads-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .breads-sm-offset-3 {
    margin-left: 25%;
  }
  .breads-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .breads-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .breads-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .breads-md-1, .breads-md-2, .breads-md-3, .breads-md-4, .breads-md-5, .breads-md-6, .breads-md-7, .breads-md-8, .breads-md-9, .breads-md-10, .breads-md-11, .breads-md-12 {
    float: left;
  }
  .breads-md-12 {
    width: 100%;
  }
  .breads-md-11 {
    width: 91.66666667%;
  }
  .breads-md-10 {
    width: 83.33333333%;
  }
  .breads-md-9 {
    width: 75%;
  }
  .breads-md-8 {
    width: 66.66666667%;
  }
  .breads-md-7 {
    width: 58.33333333%;
  }
  .breads-md-6 {
    width: 50%;
  }
  .breads-md-5 {
    width: 41.66666667%;
  }
  .breads-md-4 {
    width: 33.33333333%;
  }
  .breads-md-3 {
    width: 25%;
  }
  .breads-md-2 {
    width: 16.66666667%;
  }
  .breads-md-1 {
    width: 8.33333333%;
  }
  .breads-md-pull-12 {
    right: 100%;
  }
  .breads-md-pull-11 {
    right: 91.66666667%;
  }
  .breads-md-pull-10 {
    right: 83.33333333%;
  }
  .breads-md-pull-9 {
    right: 75%;
  }
  .breads-md-pull-8 {
    right: 66.66666667%;
  }
  .breads-md-pull-7 {
    right: 58.33333333%;
  }
  .breads-md-pull-6 {
    right: 50%;
  }
  .breads-md-pull-5 {
    right: 41.66666667%;
  }
  .breads-md-pull-4 {
    right: 33.33333333%;
  }
  .breads-md-pull-3 {
    right: 25%;
  }
  .breads-md-pull-2 {
    right: 16.66666667%;
  }
  .breads-md-pull-1 {
    right: 8.33333333%;
  }
  .breads-md-pull-0 {
    right: auto;
  }
  .breads-md-push-12 {
    left: 100%;
  }
  .breads-md-push-11 {
    left: 91.66666667%;
  }
  .breads-md-push-10 {
    left: 83.33333333%;
  }
  .breads-md-push-9 {
    left: 75%;
  }
  .breads-md-push-8 {
    left: 66.66666667%;
  }
  .breads-md-push-7 {
    left: 58.33333333%;
  }
  .breads-md-push-6 {
    left: 50%;
  }
  .breads-md-push-5 {
    left: 41.66666667%;
  }
  .breads-md-push-4 {
    left: 33.33333333%;
  }
  .breads-md-push-3 {
    left: 25%;
  }
  .breads-md-push-2 {
    left: 16.66666667%;
  }
  .breads-md-push-1 {
    left: 8.33333333%;
  }
  .breads-md-push-0 {
    left: auto;
  }
  .breads-md-offset-12 {
    margin-left: 100%;
  }
  .breads-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .breads-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .breads-md-offset-9 {
    margin-left: 75%;
  }
  .breads-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .breads-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .breads-md-offset-6 {
    margin-left: 50%;
  }
  .breads-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .breads-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .breads-md-offset-3 {
    margin-left: 25%;
  }
  .breads-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .breads-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .breads-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .breads-lg-1, .breads-lg-2, .breads-lg-3, .breads-lg-4, .breads-lg-5, .breads-lg-6, .breads-lg-7, .breads-lg-8, .breads-lg-9, .breads-lg-10, .breads-lg-11, .breads-lg-12 {
    float: left;
  }
  .breads-lg-12 {
    width: 100%;
  }
  .breads-lg-11 {
    width: 91.66666667%;
  }
  .breads-lg-10 {
    width: 83.33333333%;
  }
  .breads-lg-9 {
    width: 75%;
  }
  .breads-lg-8 {
    width: 66.66666667%;
  }
  .breads-lg-7 {
    width: 58.33333333%;
  }
  .breads-lg-6 {
    width: 50%;
  }
  .breads-lg-5 {
    width: 41.66666667%;
  }
  .breads-lg-4 {
    width: 33.33333333%;
  }
  .breads-lg-3 {
    width: 25%;
  }
  .breads-lg-2 {
    width: 16.66666667%;
  }
  .breads-lg-1 {
    width: 8.33333333%;
  }
  .breads-lg-pull-12 {
    right: 100%;
  }
  .breads-lg-pull-11 {
    right: 91.66666667%;
  }
  .breads-lg-pull-10 {
    right: 83.33333333%;
  }
  .breads-lg-pull-9 {
    right: 75%;
  }
  .breads-lg-pull-8 {
    right: 66.66666667%;
  }
  .breads-lg-pull-7 {
    right: 58.33333333%;
  }
  .breads-lg-pull-6 {
    right: 50%;
  }
  .breads-lg-pull-5 {
    right: 41.66666667%;
  }
  .breads-lg-pull-4 {
    right: 33.33333333%;
  }
  .breads-lg-pull-3 {
    right: 25%;
  }
  .breads-lg-pull-2 {
    right: 16.66666667%;
  }
  .breads-lg-pull-1 {
    right: 8.33333333%;
  }
  .breads-lg-pull-0 {
    right: auto;
  }
  .breads-lg-push-12 {
    left: 100%;
  }
  .breads-lg-push-11 {
    left: 91.66666667%;
  }
  .breads-lg-push-10 {
    left: 83.33333333%;
  }
  .breads-lg-push-9 {
    left: 75%;
  }
  .breads-lg-push-8 {
    left: 66.66666667%;
  }
  .breads-lg-push-7 {
    left: 58.33333333%;
  }
  .breads-lg-push-6 {
    left: 50%;
  }
  .breads-lg-push-5 {
    left: 41.66666667%;
  }
  .breads-lg-push-4 {
    left: 33.33333333%;
  }
  .breads-lg-push-3 {
    left: 25%;
  }
  .breads-lg-push-2 {
    left: 16.66666667%;
  }
  .breads-lg-push-1 {
    left: 8.33333333%;
  }
  .breads-lg-push-0 {
    left: auto;
  }
  .breads-lg-offset-12 {
    margin-left: 100%;
  }
  .breads-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .breads-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .breads-lg-offset-9 {
    margin-left: 75%;
  }
  .breads-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .breads-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .breads-lg-offset-6 {
    margin-left: 50%;
  }
  .breads-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .breads-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .breads-lg-offset-3 {
    margin-left: 25%;
  }
  .breads-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .breads-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .breads-lg-offset-0 {
    margin-left: 0;
  }
}

/* Gift Section */

.giftBreaded {
  background-color: #F9F1E8;
}
.giftBreaded .insider {
  background-color: #F9F1E8 !important;
}
.giftBreaded > div > section{
  padding: 5rem 0;
  display: table;
  margin: auto;
  float: none;
}
.giftBreaded > div {
  width: 1170px;
  font-size: 20px;
  font-weight: 300;
  margin: auto;
}
.giftBreaded h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Merriweather";
  font-weight: 500;
}
.giftBreaded p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px !important;
}

@media (max-width: 1250px) {
  .giftBreaded > div{
    width: auto;
  }
}

@media (max-width: 500px) {
  .giftBreaded h1 {
    font-size: 35px;
  }
}
