body.sessions, body.registrations, body.passwords {
    & {
        overflow-x: hidden;
        border: 0;
        margin: 0;
        padding: 0;
        background: #ffffff;
        width: 100%;
        text-align: center;
        font-family: 'Montserrat-Regular', sans-serif;
    }

    .panel {
        width: 450px;
        max-width: 90%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        margin: 150px auto 0px;
    }

    form {
        padding: 0 50px 50px;
    }

    .panel-switch {
        text-align: center;
        margin-top: 30px;
        display: table;
        margin: 0 auto 30px;
        border: 1px solid #333;
        border-radius: 5px;
    }

    .panel-switch button {
        display: inline-block;
        width: 100px;
        height: 40px;
        background: #333333;
        margin: 0px;
        border: none;
        color: #fff;
        font-family: 'Montserrat-Medium', sans-serif;
        font-size: 0.8em;
        transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    }

    .panel-switch button:active {
        background: #000000;
        color: #c9c9c9;
        font-family: 'Montserrat-Medium', sans-serif;
    }

    .active-button {
        background: transparent !important;
        color: #333 !important;
        font-family: 'Montserrat-Light' !important;
    }

    button, .button, a {
        cursor: pointer;
    }

    form h1 {
        color: #000;
        font-family: 'Merriweather-Regular', sans-serif;
        font-weight: 600;
        margin: 0 0 50px;
        font-size: 1.7em;
    }

    fieldset {
        border: none;
    }

    fieldset > label {
        background: #fff;
        position: absolute;
        color: #333;
        z-index: 9;
        font-size: 14px;
        padding: 5px;
        margin-left: 12px;
        margin-top: -3px;
        font-family: Montserrat-Light;
    }

    .animate1, .animate2, .animate3, .animate4 {
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
    }

    .animate1 {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
    }

    .animate2 {
        -webkit-animation-delay: 0.7s;
        -moz-animation-delay: 0.7s;
    }

    .animate3 {
        -webkit-animation-delay: 1.1s;
        -moz-animation-delay: 1.1s;
    }

    .animate4 {
        -webkit-animation-delay: 1.5s;
        -moz-animation-delay: 1.5s;
    }

    .animate5 {
        -webkit-animation-delay: 2.2s;
        -moz-animation-delay: 2.2s;
    }

    .animate6 {
        -webkit-animation-delay: 2.6s;
        -moz-animation-delay: 2.6s;
    }

    @-webkit-keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    fieldset input {
        border: none;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0;
        text-indent: 10px;
        font-size: 14px;
        padding: 20px 5px;
        border: 1px solid #707070;
        color: #333;
        font-family: "Montserrat-Light";
    }

    fieldset input::placeholder {
        color: #c7c6c6;
    }


    .login_form {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 4em;
        margin: 3rem 0;
        border: none;
        border-radius: 5px;
        background: #333333;
        color: #fff;
        font-family: 'Montserrat-Medium', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 1;

        transition: background-color 0.2s, color 0.2s;
    }

    .login-form p {
        text-align: right;
    }

    #lost-password-link {
        font-family: "Montserrat-Light";
        font-size: 10px;
    }

    p, a {
        margin: 0;
        padding: 0;
    }

    a {
        color: #898787;
        font-size: 0.7em;
        text-decoration: none;
    }

    .hidden {
        display: none;
    }

    .footer-links li ul li {
        line-height: 35px;
    }

    /*MEDIA QUERIES     */

    @media (max-height: 800px) {

        & {
            max-height: 100vh;
        }

        .panel {
            width: 450px;
            max-width: 90%;
            background-size: cover;
        }

        form {
            padding: 0px 15px 50px;
        }

    }

    @media (max-width: 500px) {
        & {
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            margin: 0px;
            padding: 0px;
        }

        .panel {
            background: none;
            box-shadow: none;
        }


        form {
            padding: 0px 15px 50px;
        }

        .panel-switch {
            margin-top: 30px;
        }

        .panel-switch button {
            display: inline-block;
            width: 80px;
            font-weight: 600;
            font-size: 0.7em;
        }

        .login_form {
            bottom: 0;
            width: 70%;
            margin: 3rem auto;
        }

    }
}
