.numbers-row
  .dec.button data-food-id="#{food_id}" data-food-name="#{food_name}" data-action='click->shop-basket#removeItem' = '-'
  input type="text" value="0"
  .inc.button data-food-id="#{food_id}" data-food-name="#{food_name}" data-action='click->shop-basket#addItem' = '+'
