body.payments.show {
  .title {
    margin: 0 0 30px 0;
  }

  input[type="submit"] {
    background: #303030;
    color: #ffffff;
    padding: 24px 20px;
    display: block;
    width: calc(100% - 20px);
    border: none;
    border-radius: 5px;
    font-size: 26px;
    margin-bottom: 40px;
  }

  .text-field {
    position: relative;
    margin: 20px 20px 50px 0;
    padding: 0;
    width: calc(70% - 20px);
    max-width: 330px;

    input {
      border-radius: 5px;
      text-indent: 10px;
      font-size: 14px;
      border: 1px solid #707070;
      color: #333;
      font-weight: 300;
      width: 100%;
      padding: 20px 5px;
    }

    label {
      background: #fff;
      position: absolute;
      color: #333;
      z-index: 9;
      font-size: 14px;
      padding: 0 10px;
      left: 10px;
      top: -8px;
      font-weight: 300;
    }

    .expiration_time {
      position: absolute;
      font-size: 15px;
      font-weight: 300;
      top: calc(50% - 8px);
      right: 15px;
    }
  }

  @media (max-width: 768px) {
    .text-field {
      max-width: 100%;
      width: calc(100% - 20px);
    }
  }
}
